
body {
  margin:0px;
  height:100%;
}

div.fill {
 /*  position:fixed; */
  width: 100%;
  height: 100%;
  overflow: auto;
}

div.green {
  background-image: url("./images/tausta_vihrea.jpg");
}

div.yellow {
  background-image: url("./images/tausta_lehdet.jpg");
}

div.koko {
  /* background-color: black; */
  /* border: 2px solid black; */
  color: black;
  width: 500px;
  height: 800px;
  border-radius:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
  /* padding:10px; */
  margin:100px;
}

.naytto {
  /* background-color: rgb(33, 33, 33); */
  background-color: black;
  width: 400px;
  height: 80px;
  font-size:x-large;
  text-align: center;
  padding:2px;
  margin: 5px;
  color:white;
}

.nappaimet {
  /* background-color: rgb(33, 33, 33); */
  width: 400px;
  height: 500px;
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap:8px 8px;
  padding: 10px;
  margin: 10px;
}

button:nth-last-child(2) {
  grid-column-start: 1;
  grid-column-end: 3;
  text-transform: capitalize;
}

button:last-child {
  grid-column-start: 3;
  grid-column-end: 5;
}

button {
  background-color: black;
  font-size: x-large;
  color:white;
}

button:hover {
  background-color: rgb(50, 50, 50);
  border-color: rgb(50, 50, 50);
}

.styleButton {
  background-color: gray;
  border-radius: 50px;
  border: none;
  width:80px;
  height:80px;
}

button.green {
  background-color: goldenrod;
}

button.yellow {
  background-color: teal;
}