
body {
  padding:100px;
  background-image: url("./images/tausta_vihrea.jpg");
  /* background-image: url("./images/tausta_lehdet.jpg"); */
}

div.koko {
  /* background-color: black;
  border: 2px solid black; */
  color: black;
  width: 400px;
  height: 500px;
  border-radius:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
  padding:10px;
}

.naytto {
  /* background-color: rgb(33, 33, 33); */
  background-color: black;
  width: 300px;
  height: 50px;
  font-size:x-large;
  text-align: center;
  padding:2px;
  margin: 5px;
  color:white;
}

.nappaimet {
  /* background-color: rgb(33, 33, 33); */
  width: 300px;
  height: 350px;
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap:5px 5px;
  padding: 10px;
  margin: 10px;
}

button {
  background-color: black;
  font-size: large;
  color:white;
}

button:hover {
  background-color: deeppink;
  border-color: deeppink;
}